#final-score-value {
  display: none;
}

#game {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
}

.stats-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid red;
}

.stats-container div {
  padding: 5px 10px;
}

.stats-container div h2 {
  font-size: 1.5em;
}

.stats-container ol {
  margin: 0;
  padding: 0;
}

.stats-container li.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-container li.player:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.powerup-container {
  height: 150px;
}
.powerup-container img {
  height: 25px;
  width: auto;
}
.powerup-container div {
  display: flex;
  justify-content: left;
  width: 50px;
  height: 25px;
}
.leaderboard-container {
  justify-content: left;
}

.grid-container {
  padding-top: 25px;
  width: 75vh;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
}
.grid-item {
   background-color: #ddd;
   padding: 20px;
   height: 70px;
   font-size: 20px;
   text-align: left;
}
.grid-item-icon {
   background-color: #ddd;
   padding: 20px;
   font-size: 20px;
   height: 70px;
   text-align: center;
   width: 100px;
}
.control-img {
  height: 30px;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.gap {
  height: 100px;
}






#color-customizer {
  position: fixed;
  top: 10px;
  left: 10px;
  width: auto;
  z-index: 100;
  padding: 10px;
  border: 1px solid #c8c8c8;
  background: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

#color-customizer .color-pair {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#color-customizer input[type="color"] {
  appearance: none;
  border: 1px solid white;
  height: 30px;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

#color-customizer input[type="color"].body {
  width: 90px;
}

#color-customizer input[type="color"].head {
  width: 30px;
}

#color-customizer input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color-customizer input[type="color"]::-webkit-color-swatch {
  border: none;
}

#color-customizer .buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#color-customizer button {
  border: 1px solid #999;
  padding: 5px 10px;
  background: #fff;
  cursor: pointer;
  font-size: 10pt;
  flex-grow: 1;
}